body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/daniele-colucci-OtXJhYjbKeg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container .image {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.container .menu-icon {
  position: absolute;
  color: white;
  font-size: 30px;
  left: 42px;
  top: 24px;
  cursor: pointer;
  z-index: 1;
}

.menu-container {
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: 1s ease-in-out;
}

.menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu-content a {
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  font-family: sans-serif;
  transition: 0.3s ease-in-out;
}

.menu-content a:hover {
  background-color: #1b998b;
}

.menu-container .closebtn {
  position: absolute;
  top: 36px;
  right: 48px;
  font-size: 30px;
  color: white;
  z-index: 1;
  cursor: pointer;
}
